* {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-feature-settings: normal;
}

.logo {
	display: flex;
	height: 20vh;
	width: auto;
	align-items: center;
	justify-content: center;
}

